version: '3'
services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.server
    volumes:
      - /app/node_modules
      - ./api:/app
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
  mongo:
    image: 'mongo:latest'
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    ports:
      - "3050:80"
    restart: always
  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
